<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Bienvenido a Peliculas App</h1>
        <p class="lead">Accede a las Peliculas de la Cartelera y Peliculas mas Populares .</p>
    </div>
</div>

<div class="container">

   
    
    <app-galeria [peliculas]="cartelera |slice:0:6"
                titulo="Peliculas en Cartelera"></app-galeria>
    <!--este es el componente padre y le envio la cartelera al componente galeria a traves de la variable peliculas
    el slice prtmite divicir , en este caso enviar solo 6
    el titulo va sin [] porque voy a enviar solo un texto no una variable como cartelera-->

    <app-galeria [peliculas]="populares |slice:0:6"
    titulo="Peliculas Populares"></app-galeria>
</div>
