<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Bienvenido a Peliculas App</h1>
        <p class="lead">Accede a las Peliculas de la Cartelera y Peliculas mas Populares .</p>
    </div>
</div>

<div class="container">
    <h1>Cartelera</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12" [ngStyle]="{'background-image':'url(http://image.tmdb.org/t/p/w500/jVaPz2GeWYhjKLxd0U9rTZbfAmF.jpg)'}">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" [ngStyle]="{'background-image':'url(http://image.tmdb.org/t/p/w500/jVaPz2GeWYhjKLxd0U9rTZbfAmF.jpg)'}">
                    
                </div>
                <div class="col-md-6" [ngStyle]="{'background-image':'url(http://image.tmdb.org/t/p/w500/jVaPz2GeWYhjKLxd0U9rTZbfAmF.jpg)'}">
                
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="row">
                <div class="col-md-6" [ngStyle]="{'background-image':'url(http://image.tmdb.org/t/p/w500/jVaPz2GeWYhjKLxd0U9rTZbfAmF.jpg)'}">
                    
                </div>
                <div class="col-md-6" [ngStyle]="{'background-image':'url(http://image.tmdb.org/t/p/w500/jVaPz2GeWYhjKLxd0U9rTZbfAmF.jpg)'}">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" [ngStyle]="{'background-image':'url(http://image.tmdb.org/t/p/w500/jVaPz2GeWYhjKLxd0U9rTZbfAmF.jpg)'}">
                    
                </div>
            </div>
        </div>

    </div>
</div>
<!--
<div class="card-columns">
    <div class="card" *ngFor="let populares of peliculaspopulares">
        <img src="" class="card-img-top" alt="...">

    </div>
</div>
-->