.populares-1{
    width: 100%;
    height: 300px;
    -webkit-background-size: cover; /*para que se adapte bie al iamgen */
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.populares-2{
    width: 100%;
    height: 200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  